{% extends 'base.html' %}

{% block main %}

    <div class="container" style="padding-top: 50px;">
        <h1 class="heading-font" style="font-size: 40px;" >LOGIN</h1>
        <br><br>
        <div class="container" style="width: 60%;">
            {% if next %}
                <div class="alert warning">
                    <span class="closebtn">&times;</span>
                    <span>Please login to continue</span>
                </div>
            {% endif %}
            <div class="row">
                {% if next %}
                    <form class="col" method="post" action="/login/?next={{next}}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                {% else %}
                    <form class="col" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                {% endif %}
            </div>
            <br>
            <div class="section">
                <h6 style="color:lightgray">New User? <a style="font-size: 15px;" href="{% url 'register' %}">Register</a></h6>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_scripts %}

    <script type="text/javascript">
        document.getElementById('id_username').placeholder = 'Username';
        document.getElementById('id_password').placeholder = 'Password';
    </script>

{% endblock %}